*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #000000fa;
}
#imagem-fundo{
    margin-left: -31px;
    margin-top: 0px;
}
#cabeçalho-1{
    padding: 33px;
    margin-top: -677px;
    font-family: 'Kanit', sans-serif;
}
#cor-azul-azul{
    background-color: transparent;
    color: #0000ff;
}
#apresentação{
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.4em;

    padding-top: 20px;
    margin-top: -120px;
    margin-left: 180px;
    width: 435px;

    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    line-height: 1.5em;
    text-align: justify;
}
#cor-terra-verde{
    background-color: transparent;
    color: #008000;

    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.opções-site ul li{
    display: inline-block;

    text-transform: uppercase;
    
    margin-right: 80px;
}
.opções-site ul{
    text-align: center;
}
.opções-site a{
    text-decoration: none red;
    font-size: 1.2em;
}
.opções-site a:hover{
    
}
.opçoes a{
    color: #878787;
}
.opçoes a:hover{
    color: #ffffff;
    transition: 0.3s;
}
#pesquisa{
    outline: none;
    
}
#nome-site{
    margin-left: 80px;
    margin-top: 280px;
    padding: 100px;

    color: #ffffff;

    font-size: 4em;
    font-family: 'Kanit', sans-serif;
}
.conteudo-do-texto{
    background-color: #000000;
    color: white;

    width: 600px;
}
#div-boas-vindas{
    text-align: center;
}
#titulo-boas-vindas{
    font-size: 5em;
    font-family: 'Tilt Warp', cursive;
    color: #ffffff;

    background-color: #00000000;

    text-shadow: 1px 1px 3px #ffffff;

    margin-top: 50px;
}
#div-descrição-videos{
    color: #ffffff;

    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

    padding: 15px;
}
#past-videos{
    background-color: #000000fa;
}
#caixa-videos{
    padding: 10px;
}
#menu-videos-tamanho iframe{
    width: 390px;
    height: 219px;

    display: inline-flex;

    margin-left: 80px;
}
#box-video-title a{
    color: #ffffff;
    text-decoration: none;
}
#box-video-title ul li{
    display: inline-block;

    margin-inline: 8.5em;
}
#box-video-title ul{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;

    margin-bottom: 5em;
}
#box-video-title a:hover{
    color: aqua;
    transition: 1s;
}
#div-veja-tambem-box{
    margin-left: 12em;
}
#tema-veja-tambem-01{

}
#tema-veja-tambem-02{
    margin-top: -40px;
}
#veja-tambem-2{
    margin-right: 32em;
    text-align: center;
}
.main-txt{
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: #ffffff;
}
.main2-txt{
    background-color: transparent;
    color: #ffffff;
}
#veja-tambem{
    padding: 1em;

    margin: -130px 260px 10px 395px;

    border-radius: 10px;
}
#veja-tambem:hover{
    border: #0000ff 1px solid;
    box-shadow: 0px 0px 15px #0000ff85;
    transition: 1s;
}
.conjunto-artigo{
    background-color: transparent;
    height: 130px;
    margin-bottom: 1em;
    padding: 0em;
}
.formato-imagem-tumb-video{
    margin-left: 5px;
    margin-top: 5px;
}
.posição-conteudo{
    margin-left: 210px;
    margin-top: -113px;
}
.titulo-conteudo{
    color: #ffffff;
}
.link-conteudo-escrito{
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
.posição-descrição-video{
    padding: 2px;
    margin-top: 5px;

    color: #ffffff;
    text-transform: uppercase;

    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-align: justify;
    font-size: 15px;
}
.conjunto-artigo:hover{
    background-color: #00a6ff;
    border-radius: 10px;
    transition: 1s;
}
#box-artigo-05{
    margin-bottom: 0em;
}
#div-box-redesocial{
    background-color: #008000;
}
#box-rede-social{

}
.redesocial{

}
