body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #000000fa;
}
#imagem-fundo{
    margin-left: -31px;
    margin-top: 0px;
}
#cabeçalho-1{
    padding: 33px;
    margin-top: -677px;
    font-family: 'Kanit', sans-serif;
}
#cor-azul-azul{
    background-color: transparent;
    color: #0000ff;
}
#apresentação{
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.4em;

    padding-top: 20px;
    margin-top: -150px;
    margin-left: 180px;
    width: 435px;

    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
#cor-terra-verde{
    background-color: transparent;
    color: #008000;

    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.opções-site ul li{
    display: inline-block;

    text-transform: uppercase;
    
    margin-right: 80px;
}
.opções-site ul{
    text-align: center;
}
.opções-site a{
    text-decoration: none red;
    font-size: 1.2em;
}
.opções-site a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-line: 10px;
    transition: 0.5s;
}
.opçoes a{
    color: #878787;
}
.opçoes a:hover{
    color: #ffffff;
    transition: 0.5s;
}
#nome-site{
    margin-left: 80px;
    margin-top: 280px;
    padding: 100px;

    color: #ffffff;

    font-size: 4em;
    font-family: 'Kanit', sans-serif;
}
.conteudo-do-texto{
    background-color: #000000;
    color: white;

    width: 600px;
}
#div-boas-vindas{
    text-align: center;
}
#titulo-boas-vindas{
    font-size: 5em;
    font-family: 'Tilt Warp', cursive;
    color: #ffffff;
}
#titulo-boas-vindas{
    position: relative;
    letter-spacing: 9px;

    animation-name: boas-vindas 0s 1.1s both;

    opacity: 0;
}
@keyframes boas-vindas{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}